In [2]:
import pickle
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import pairwise_distances, pairwise_distances_chunked
from scipy.sparse import vstack
from nltk.corpus.reader.wordnet import NOUN
from nltk.corpus import wordnet
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [2]:
total = pd.read_csv("Combined_Netflix_IMDb_Useful_Columns.csv", low_memory=False)

In [3]:
total.fillna("NAN",inplace=True)

In [4]:
total.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
def remove_spaces(lst):
    spaces_removed = []
    for name in lst:
        spaces_removed.append(name.replace(" ", ""))
    return spaces_removed

In [6]:
def list_for_remove(string):
    string=str(string)
    return " ".join(remove_spaces(string.split(", ")))

In [7]:
def clean_up(pd_df):
    #fill any NAN values
    pd_df =pd_df.copy()
    #remove spaces from actors and directors names
    pd_df.actors = pd_df.actors.apply(lambda x: list_for_remove(x))
    pd_df.director = pd_df.director.apply(lambda x: list_for_remove(x))
    pd_df.genre = pd_df.genre.apply(lambda x: list_for_remove(x))
    return pd_df

In [8]:
total = clean_up(total)

In [9]:
def get_keywords(pd_df):
    pd_df = pd_df.copy()
    pd_df.description = pd_df.description.apply(lambda x: make_keywords(x))
    pd_df.original_title = pd_df.original_title.apply(lambda x: make_keywords(x))
    return pd_df

In [10]:
def make_keywords(string,dis=False):
    if dis:
        string=translated.translate(string)
    tokens = word_tokenize(string)
    # convert to lower case
    tokens = [w.lower() for w in tokens]
    # remove punctuation from each word
    import string
    table = str.maketrans('', '', string.punctuation)
    stripped = [w.translate(table) for w in tokens]
    # remove remaining tokens that are not alphabetic
    words = [word for word in stripped if word.isalpha()]
    # filter out stop words
    from nltk.corpus import stopwords
    stop_words = set(stopwords.words('english'))
    if not dis:
        stop_words = set(stopwords.words(['arabic', 'azerbaijani', 'danish', 'dutch', 'english', 'finnish', 'french', 'german', 'greek','hungarian', 'indonesian', 'italian', 'kazakh', 'nepali', 'norwegian', 'portuguese', 'romanian', 'russian', 'slovene', 'spanish', 'swedish', 'tajik', 'turkish']))
    words = [w for w in words if not w in stop_words]
    lem = WordNetLemmatizer()
    words = [lem.lemmatize(w) for w in words]
    return " ".join(words)

In [11]:
total = get_keywords(total)

In [14]:
total.to_csv('in_case.csv')

In [3]:
total = pd.read_csv('in_case.csv', low_memory=False)

In [4]:
total.drop('Unnamed: 0', axis=1, inplace=True)

In [29]:
def mashup(pd_df):
    str_list = []
    key = ''
    direct = ' '
    act = ' '
    descrip = ' '
    for i in range(pd_df.shape[0]):
        if i not in pd_df.index:
            continue
        if pd_df.description[i] != 'NAN':
            descrip = pd_df.description[i] + " "
        if pd_df.actors[i] != 'NAN':
            act = (pd_df.actors[i] + " ") * 5
        if pd_df.director[i] != 'NAN':
            direct = (pd_df.director[i] + " ") * 10
        
        key = direct + " " + act + " " + descrip + " " + ((pd_df.original_title[i] + " ")*5) + pd_df.genre[i] + " " + pd_df.year[i]
        str_list.append(key)
    return str_list

In [30]:
total_lst = mashup(total)

In [5]:
total = total.fillna("NAN")

In [28]:
total

,title_id,type,original_title,director,actors,year,duration,genre,description
0,tt0000009,Movie,miss jerry,AlexanderBlack,BlancheBayliss WilliamCourtenay ChaunceyDepew,1894,45,Romance,adventure female reporter
1,tt0000574,Movie,story kelly gang,CharlesTait,ElizabethTait JohnTait NormanCampbell BellaCol...,1906,70,Biography Crime Drama,true story notorious australian outlaw kelly
2,tt0001892,Movie,sorte drøm,UrbanGad,AstaNielsen ValdemarPsilander GunnarHelsengree...,1911,53,Drama,two high rank wooing beautiful famous equestri...
3,tt0002101,Movie,cleopatra,CharlesL.Gaskill,HelenGardner PearlSindelar MissFielding MissRo...,1912,100,Drama History,fabled queen egypt affair roman general marc a...
4,tt0002130,Movie,linferno,FrancescoBertolini AdolfoPadovan,SalvatorePapa ArturoPirovano GiuseppedeLiguoro...,1911,68,Adventure Drama Fantasy,loosely adapted dante divine comedy inspired i...
...,...,...,...,...,...,...,...,...,...
93637,s7783,Movie,zozo,JosefFares,ImadCreidi AntoinetteTurk EliasGergi CarmenLeb...,2005,99,Dramas InternationalMovies,lebanon civil deprives zozo family left grief ...
93638,s7784,Movie,zubaan,MozezSingh,VickyKaushal Sarah-JaneDias RaaghavChanana Man...,2015,111,Dramas InternationalMovies Music&Musicals,scrappy poor boy worm way tycoon dysfunctional...
93639,s7785,Movie,zulu japan,NAN,NastyC,2019,44,Documentaries InternationalMovies Music&Musicals,documentary south african rapper nasty hit sta...
93640,s7786,TV Show,zumbo dessert,NAN,AdrianoZumbo RachelKhoo,2019,1 Season,InternationalTVShows RealityTV,dessert wizard adriano zumbo look next willy w...
93641,s7787,Movie,zz top little ol band texas,SamDunn,NAN,2019,90,Documentaries Music&Musicals,documentary delf mystique behind bluesrock tri...

In [36]:
# (total.actors[i]+" ")*5

The Following Cells were for getting the total title list don't run again.

In [18]:
# for_list = pd.read_csv("Combined_Netflix_IMDb_Useful_Columns.csv", low_memory=False)

In [19]:
# title_list = for_list.original_title.to_list()

In [22]:
# for k, v in enumerate(title_list):
#     title_list[k] = v + " ("+for_list.year.iloc[k]+")"

In [25]:
# dbfile = open(f'all_title_list.pkl', 'ab')
# # source, destination
# pickle.dump(title_list, dbfile)                     
# dbfile.close()

In [22]:
# dbfile = open(f'all_title_list.pkl', 'rb')
# # source, destination
# title = pickle.load(dbfile)                     
# dbfile.close()

In [31]:
vectorizor = CountVectorizer()
keys = vectorizor.fit_transform(total_lst)

In [32]:
dist = pairwise_distances_chunked(keys, metric='cosine')

In [33]:
y=0
while (y < total.shape[0]):
    pull = next(dist)
    y += pull.shape[0]
    print(y)
    dbfile = open(f'distance/weights_full_set{y}.pkl', 'ab')
    # source, destination
    pickle.dump(pull, dbfile)                     
    dbfile.close()

1433
2866
4299
5732
7165
8598
10031
11464
12897
14330
15763
17196
18629
20062
21495
22928
24361
25794
27227
28660
30093
31526
32959
34392
35825
37258
38691
40124
41557
42990
44423
45856
47289
48722
50155
51588
53021
54454
55887
57320
58753
60186
61619
63052
64485
65918
67351
68784
70217
71650
73083
74516
75949
77382
78815
80248
81681
83114
84547
85980
87413
88846
90279
91712
93145
93642

In [27]:
lst = []
for val in total.duration:
    if len(val)<4:
        lst.append(int(val))
min(lst)

3

In [25]:
total[total.duration=='3']

,title_id,type,original_title,director,actors,year,duration,genre,description
91460,s5606,Movie,silent,LimbertFabian BrandonOldenburg,NAN,2014,3,Children&FamilyMovies Sci-Fi&Fantasy,silent animated short film created academy win...